.no_default {
    background: none;
    margin: none;
    padding: none;
    border: none;
    outline: none;
    resize: none;
    color: #c8c8c8;
    border-radius: 0px;
}

body {
    margin: 0px;
    background-color: #222; 
    color: #c8c8c8;
    font-size: 15px;
    font-family: monospace;
}

input, textarea {
    font-size: 15px;
    font-family: monospace;
}

a {
    color: #c8c8c8;
}

div#contheader {
    text-align: end;
    height: 35px;
    margin: 20px 4%;
}

div#contheader img {
    height: 35px;
}

div#contheader a#imglink {
    float: left;
}

div#contheader a#link {
    display: block;
    float: right;

    font-size: 1.2em;
    line-height: 35px;
}

h1 {
    color: white;
    font-size: 4em;
    text-align: center;
}

main {
    min-width: 300px;
    width: 95%;
    max-width: 500px;
    margin: 0px auto;
}

input.button_style {
    border: 1px solid #c8c8c8;
    line-height: 40px;
    padding: 0px 30px;
    font-size: 1.3em;
    cursor: pointer;
}

footer {
    text-align: center;
    font-size: 0.7em;
    min-width: 300px;
    width: 95%;
    max-width: 500px;
    margin:50px auto;
}