div#cont {
    border: 1px solid #c8c8c8;
    padding: 10px 30px;
}

.editbox {
    display: block;
    width: 100%;
    margin: 20px 0px;

    font-size: 1.3em;
}

/* Para modifical el placeholder del input en todos los navegadores */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #8f8d8a;
    opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #8f8d8a;
}

.empty::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #D32D17;
    opacity: 1; /* Firefox */
}

.empty::-ms-input-placeholder { /* Microsoft Edge */
    color: #D32D17;
}

input#title {
    border-bottom: 1px solid #c8c8c8;
}

textarea#text {
    height: 290px;
}
/* button styling */

p#contbutton {
    text-align: center;
}