a.listitem {
    /* margin: 10px 0px; */
    display: block;
    word-break: break-all;
    text-decoration: none;
}

a.listitem:hover > .title {
    text-decoration: underline;
}

table#tablelist {
    width: 100%;
    border-spacing: 8px;
}

td.private {
    vertical-align: top;
}